/*Custom style for hover effect*/
.underline-link {
    position: relative;
    color: white; 
    font-size: 1.125rem; 
  }
    
  .underline-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: red; 
    transition: width 0.3s ease;
  }
  
  .underline-link:hover::after {
    width: 100%;
  }
  